body{
    font-family: 'Museo Sans Rounded';
    
}

/* Header */

@mixin sizes($width, $height) {
   height: $height;
   width: $width;
}


.header__logo{
    @include sizes(195px, 110px);
}

.header{
  background-color: map-get($colores, principal);
  font-weight: bold;
  color: map-get($colores, blanco);
  a{   
    &:link
        {
        color: map-get($colores, blanco); 
    }
    &:visited
        {
        color: map-get($colores, blanco);  
    }
    &:hover
        {
        color: map-get($colores, secundario); 
    }
   } 
}

/* /header */

/*secciones */

.principal{
    border: 2px solid map-get($colores, principal);
    background-color: map-get($colores, blanco); 
    p{
        text-align: justify;
        text-justify: inter-character;

    }

}

.carousel-mod{
    background-color: map-get($colores, principal); 

}

@media all and (min-width: $breakpoint-tablet){ 
    .carousel-control-mod{
        @include sizes(3rem, 3rem);
    }

}

@keyframes giro{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.avatar{
    max-width: 30%;
    animation-name: giro;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 8s;

}


.titulos{
    font-weight: bold;
    font-size: 1.5rem;
}

.subtitulos{
    @extend.titulos;
    font-size: 1.2rem;
}

.assets-img{
    max-width: 99%;
}

.btn-form{
    border: 2px solid map-get($colores, principal);
    &:hover
        {
        background-color: map-get($colores, principal);
        color: map-get($colores, blanco);
        border: 2px solid map-get($colores, principal);

    }
}

.btn-comprar{
    @extend.btn-form;
    color: map-get($colores, principal);
    width: 100%;

}

.btn-modal{
    @extend.btn-comprar;
    width: 50%
}

.btn-form-mod{
    @extend.btn-form;
    border: 2px solid map-get($colores, negro);
}


.offcanvas-mod{
    background-color: map-get($colores, secundario);
    color: map-get($colores, blanco);
}

.principal-mod{
    @extend.offcanvas-mod;
    background-color: map-get($colores, principal);
    

}

.mail{
    color: map-get($colores, blanco);
    &:hover
        {
        color: map-get($colores, principal); 
    }
}



.img-modal{
    &:hover{
    opacity: 0.7;
    }
}   

@keyframes zoom {
  from {transform:scale(0.2)}
  to {transform:scale(1)}
}
.modal-zoom{
  animation-name: zoom;
  animation-duration: 1.2s;
}

.modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: map-get($colores, principal);
    font-weight: bold;
    border: none;
    &:hover{
       background-color: map-get($colores, secundario); 
    }
}


.modal-content-pos{
    position: absolute;
    width: 60vw;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    @media all and (max-width: $breakpoint-tablet){
        top: 30vh;
        left: 50%;
        width: 95vw;
        transform: translate(-50%, 0%);
    }

    
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);    
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(10deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
}

.icons{
    @include sizes(25%, 25%);
    animation: shake 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}


/* /secciones */

/* footer */

.footer-logo{
    @include sizes(24px, 24px);
    @media all and (max-width: $breakpoint-tablet){
        @include sizes(36px, 36px);
    }
}


/* /footer */

